html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizespeed;
}

a {
  display: inline-block;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1,
h2,
h3,
p {
  margin: 0.75em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}